{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLC Lines</title>
    <link href="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'jquery-ui-dist/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'd3/dist/d3.min.js' %}"></script>
    <script src="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'jquery-ui-dist/jquery-ui.min.js' %}"></script>

    <link href="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'devices/chart.css' %}" rel="stylesheet" type="text/css" />
    <script src="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'devices/chart.js' %}"></script>
</head>
<body>
<div id="universe">
    <h1>PLC Chart</h1>

    <form class="screenOnly">
        <div>
            <label>
                {{ form.date_min.label }}:
                {{ form.date_min }}
                {{ form.date_min.errors }}
            </label>
            <label>
                {{ form.date_max.label }}:
                {{ form.date_max }}
                {{ form.date_max.errors }}
            </label>
        </div>
        <div>
            <label>
                {{ form.plcs.label }}:
                {{ form.plcs.errors }}
                {{ form.plcs }}
            </label>
        </div>
        <button>Draw</button>
    </form>

    <div class="chart"></div>

</div>

<script>
    window.data = {{ chart_data|safe }};
</script>
</body>
</html>