{% extends "admin/app_index.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .chart_iframe {
            border: none;
            width: 100%;
            max-width: 900px;
            height: 700px;
            overflow: hidden;
        }
    </style>
{% endblock extrahead %}

{% block footer %}
    <hr />
    <iframe src="{% url 'devices:plc_chart' %}" data-src="{% url 'devices:plc_chart' %}" class="chart_iframe">
        <a href="{% url 'devices:plc_chart' %}">Chart</a>
    </iframe>
    {{ block.super }}
{% endblock footer %}
